.sidebar{
  float: left;
  width: 220px;
}

.about{
  width: 700px;
}

.content__title, .career__title{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}

.download__btn{
  padding: 7px 13px;
  border: 2px solid #e85f61;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #e85f61;
  float: right;
  cursor: pointer;
}

.download__btn:hover{
  background: #e85f61;
  color: #fff;
}
=======
.sidebar, .about{
  float: left;
}

.sidebar{
  width: 220px;
  margin-right: 20px;
}

.page__content{
  width: 700px;
  float: right;
  margin-left: 20px;
}

.about__title{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}

.download__title{

}

.download__btn{
  padding: 7px 13px;
  border: 2px solid #e85f61;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #e85f61;
  float: right;
  cursor: pointer;
}

.download__btn:hover{
  background: #e85f61;
  color: #fff;
}
