.footer__left, .footer__right{
  width: 50%;
  float: left;
}

.copyright{
  line-height: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #9c9c9c;
}

.footer__link{
  color: #414141;
  display: inline-block;
  float: right;
  margin: 10px 0 0 8px;
  line-height: 30px;
  background: #9c9c9c;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

.footer__link_fb:hover{
  background: #4463a6;
  color: #fff;
}


.footer__link_vk:hover{
 background: #5d99c3;
 color: #fff;
}

.footer__link_tw:hover{
  background: #6ac4d9;
  color: #fff;
}
