@media screen and (max-width: 768px){
  .container{
    width: 480px;
  }


  .header__left{
    width: 70%;
  }

  .header__right{
    width: 30%;
  }

  .contacts{
    background-image: url("../img/phone.png");
    width: 32px;
    height: 32px;
    font-size: 0;
    margin-top: 22px;
  }

  .about{
    width: 100%;
  }

  .about__left, .about__right{
    float: none;
    width: 100%;
  }

  .about__img{
    margin-left: 158px;
  }

  .about__title, .career__title, .career__img{
    text-align: center;
    margin-bottom: 10px;
  }


  .page__content{
    float: none;
  }

  .download{
    display: inline-block;
    margin-left: 150px;
  }

  .about__text{
    margin-bottom: 30px;
  }

  .footer{
    height: 95px;
    margin-top: -95px;
  }

  .wrapper:after{
    height: 95px;
  }

  .footer__left, .footer__right{
    width: 100%;
    float: none;
    text-align: center;
  }

  .footer__link{
    text-align: center;
  }

  .footer__icons{
    margin-right: 188px;
  }

  // career

  .career__left, .career__right{
    float: none;
    width: 100%;
  }

  .career{
    padding-bottom: 100px;
  }

  // portfolio

  .portfolio{
    padding-bottom: 100px;
  }
}
